################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1/FileContentIndex
/bin/Debug/net6.0
/obj/Debug/net6.0
