* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KoHo", sans-serif;
}

body {
    background: url('/resource/image_header/background.jpg') fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    z-index: 10;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: url('/resource/image_header/cloud-fix.png');
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

    header::after {
        content: '';
        display: block;
        padding-top: 75%;
    }

.right_container {
    font-size: 1.5vw;
}

#logo {
    position: fixed;
    max-width: 20vw;
    height: auto;
    background-size: cover;
    top: 1vh;
    left: 5vw;
    cursor: pointer;
    transform: scale(1.0);
}

#login img, #service img {
    width: 2vw;
    height: auto;
    background-size: cover;
}

#login {
    position: fixed;
    top: 2vh;
    right: 15vw;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}

#logInButton:hover, #signUpButton:hover, #hotlineLink:hover {
    text-decoration: underline;
}

#service {
    position: fixed;
    top: 2vh;
    right: 5vw;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#hotlineBox {
    position: absolute;
    top: -100px;
    right: 0;
    width: 50vw;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 20;
    border-radius: 8px;
    text-align: center;
    transition: top 0.3s ease-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
    #hotlineBox.show {
        top: 70px;
    }

#closeButton {
    width: 20%;
    background-color: #1F509A;
    border-radius: 5px;
    color: white;
    border: 1px solid #1F509A;
}
    #closeButton:hover {
        background-color: #0d6efd;
        border: 1px solid #0d6efd;
    }

    .search {
        position: fixed;
        top: 2vh;
        right: 35vw;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

.search-bar {
    width: 30vw;
    height: 4vh;
    border-radius: 10px;
    border: 2px solid #E6B9DE;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #FFF6F6;
}

    .search-bar:focus {
        outline: none;
        border: 2px solid #E6B9DE;
    }

    .search-btn {
        width: 4vw;
        height: 4vh;
        border-radius: 10px;
        border: 2px solid #E6B9DE;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AEDEFC;
    }

    .search-btn:hover {
        background-color: #FFF6F6;
    }

a {
    text-decoration: none;
}

.menu {
    gap: 1rem;
    top: 4vh;
    right: 5vw;
}

.right-menu {
    position: fixed;
    display: block;
    top: 6vh;
    right: 3vw;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 119, 204);
}

    .nav-link:visited {
        color: rgb(0, 119, 204);
    }

    .nav-link:hover {
        color: #F8BDEB;
    }

    .nav-link:active {
        color: #F8BDEB;
    }

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3vw;
}

.nav-item {
    display: inline;
    font-size: 1.5vw;
    font-weight: bold;
}

.container {
    padding: 0;
    margin: 0;
}

.theme {
    display: block;
    height: auto;
    padding: 0;
    margin-top: 3%;
    width: 100vw;
    overflow: hidden;
}

.basic-booking {
    border-radius: 10px;
    margin: 0 10vw;
    width: 80vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-booking-title {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6B9DE;
}

.basic-booking-content {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 189, 214);
}

.form-group {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

    .form-group label {
        font-size: 1rem;
        min-width: 80px;
    }

input[type="text"],
input[type="date"] {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25vw;
    box-sizing: border-box;
}


.trip-type-selection {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

    .trip-type-selection label {
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

.location, .time {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hidden {
    display: none;
}

hr {
    border: 1px solid #ddd;
    margin: 10px 0;
}

#flight-search-btn {
    width: 30%;
    height: auto;
    border-radius: 5px;
    background-color: antiquewhite;
    border: solid 1px orange;
    display: block;
    justify-content: center;
    font-weight: bold;
    align-self: center;
}

    #flight-search-btn:hover {
        background-color: lightpink;
    }

    .airport-detail-title {
        margin-top: 25vh;
        text-align: center;
        font-weight: bold;
    }

#airportTable {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    color: black;
}

    #airportTable th,
    #airportTable td {
        border: 1px solid #81BFDA;
        padding: 8px;
    }

    #airportTable th {
        background-color: #E195AB;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        align-content: center;
    }

    #airportTable tr:hover {
        background-color: #F2F9FF;
    }

    #airportTable tr {
        text-align: center;
        background-color: #81BFDA;
    }
main {
    flex: 2;
    overflow: hidden;
    margin-top: 200px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.container-lg {
    display: flex;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Montserrat Alternates", sans-serif;
}

.display-ip {
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
    width: 400px;
}

.bt-submit {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 150px;
}

#form-title {
    text-align: center;
}

#dynamic-form {
    margin-left: 180px;
}

#text-nd {
    text-align: center;
}

form span.error {
    color: red;
    font-size: 80%;
    font-style: italic;
}

#toggle-button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    margin-left: 320px;
    margin-top: -10px;
}

.Img-ads {
    width: 40%;
    height: 700px;
}

   .Img-ads img {
        height: auto;
        object-fit: contain;
    }

.card {
    background-color: #D4EBF8;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    height: 90%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.btn-primary {
    border: solid 1px #1F509A;
    background-color: #1F509A;
    margin-top: auto;
}

/* css newpage */
/*NewsPage*/

.news-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.main-news {
    flex: 2;
    background: pink;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

    .main-news .news-images {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

.news-content {
    padding: 15px;
}

.news-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.read-more {
    text-decoration: none;
}

.side-news {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-item {
    background: pink;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    .news-item .news-images {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }

/*Pop-up Signin*/
.cd-main-nav {
    float: right;
    margin-top: 10px;
    margin-right: 2%;
    width: 15vw;
    height: 100%;
    background: url("/resource/image_header/cd-icon-menu.svg") no-repeat center center;
    cursor: pointer;
}

.cd-main-nav__list {
    display: flex;
    left: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }

.cd-main-nav__item {
    text-decoration: none;
}

.cd-signin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

    .cd-signin-modal.cd-signin-modal--is-visible {
        visibility: visible;
        opacity: 1;
    }

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__switcher {
    display: flex;
    justify-content: center;
    padding: 0;
}

    .cd-signin-modal__switcher:after {
        /* clearfix */
        content: "";
        display: table;
        clear: both;
    }

    .cd-signin-modal__switcher li {
        width: 50%;
        float: left;
        text-align: center;
        list-style: none;
    }

        .cd-signin-modal__switcher li:first-child a {
            border-radius: .25em 0 0 0;
        }

        .cd-signin-modal__switcher li:last-child a {
            border-radius: 0 .25em 0 0;
        }

    .cd-signin-modal__switcher a {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #d2d8d8;
        color: #809191;
    }

        .cd-signin-modal__switcher a.cd-selected {
            background: #FFF;
            color: #505260;
        }

@media only screen and (min-width: 600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }

    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 0px 1.4em 2.4em 1.4em;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 1.4em 0;
}

    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }

    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }

.cd-signin-modal__label {
    font-size: 1.4rem;
}

    .cd-signin-modal__label.cd-signin-modal__label--image-replace {
        /* replace text with an icon */
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 0;
    }

    .cd-signin-modal__label.cd-signin-modal__label--username {
        background-image: url("/resource/image_header/cd-icon-username.svg");
    }

    .cd-signin-modal__label.cd-signin-modal__label--email {
        background-image: url("/resource/image_header/cd-icon-email.svg");
    }

    .cd-signin-modal__label.cd-signin-modal__label--password {
        background-image: url("/resource/image_header/cd-icon-password.svg");
    }

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

    .cd-signin-modal__input.cd-signin-modal__input--full-width {
        width: 100%;
    }

    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 12px 20px 12px 50px;
    }

    .cd-signin-modal__input.cd-signin-modal__input--has-border {
        border: 1px solid #d2d8d8;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
            border-color: #343642;
            -webkit-box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
            box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
            outline: none;
        }

    .cd-signin-modal__input.cd-signin-modal__input--has-error {
        border: 1px solid #d76666;
    }

    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
        cursor: pointer;
        background: #2f889a;
        color: #FFF;
        font-weight: bold;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

        .cd-signin-modal__input[type=submit]:hover, .cd-signin-modal__input[type=submit]:focus {
            background: #3599ae;
            outline: none;
        }

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #343642;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -30px;
    background: rgba(215, 102, 102, 0.9);
    padding: .5em;
    z-index: 2;
    color: #FFF;
    font-size: 1.0rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

    .cd-signin-modal__error::after {
        /* triangle */
        content: '';
        position: absolute;
        left: 22px;
        bottom: 100%;
        height: 0;
        width: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    }

    .cd-signin-modal__error.cd-signin-modal__error--is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
        transition: opacity 0.2s 0s, visibility 0s 0s;
    }

.cd-signin-modal__message {
    padding: 1.4em 1.4em 0;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}

.cd-signin-modal__bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    text-align: center;
    font-size: 1.4rem;
}

    .cd-signin-modal__bottom-message a {
        color: #FFF;
        text-decoration: underline;
    }

.cd-signin-modal__close {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("/resource/image_header/cd-icon-close.svg") no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

    .cd-signin-modal__block.cd-signin-modal__block--is-selected {
        display: block;
    }
